<!doctype html>
<html lang="en">

<head>
  <title>The characters in the books</title>
  <% include ../templates/head %>
</head>

<body>
  <!-- Navbar -->
  <% include ../templates/header %>

    <div class="container main pt-4">
      <div class="card-columns charCards">
        
      </div>
    </div>

  <% include ../templates/footer.ejs %>

</body>

</html>