<!doctype html>
<html lang="en">

<head>
    <title>Deverry Cycle Information</title>
    <% include ../templates/head.ejs %>

</head>

<body>

    <% include ../templates/header %>
        <div class="container main">



            <div class="container mt-4 mainDiv">

                <div class="row">
                    <!-- left column -->
                    <div class="col-12 col-md-8 general-info">
                        <div class="container">
                            <div class="rounded p-3 contentDiv">
                                <h2>The Books</h2>
                                <p>
                                    The Deverry Cycle is a series of Celtic fantasy novels by Katharine Kerr set in the fictional land of Deverry. As of November
                                    2009, fifteen books have been published in the series.
                                </p>

                                <p>
                                    The series is written in a non-linear style: the principal narrative is frequently interrupted by flashbacks to events that
                                    occurred decades, or even centuries, before. These flashbacks concern the prior incarnations
                                    of characters in the principal narrative, and provide insight into the relationships
                                    of the characters in their current incarnations.
                                </p>
                            </div>
                            <div class="rounded p-3 mt-3 contentDiv">
                                <h2>The Author</h2>
                                <p>
                                    Katharine Kerr (born 1944) is an American science fiction and fantasy novelist, best known for her series of Celtic-influenced
                                    high fantasy novels set in the fictional land of Deverry.
                                </p>


                                <p>
                                    Katharine Kerr was born in Cleveland, Ohio; her maiden name is Katharine Nancy Brahtin. She describes her family feeling
                                    more like "British-in-exile" than American. She describes her inability to spell properly
                                    using either the British or American systems as a result of having been taught to read
                                    solely with British books. While still a schoolgirl, her family moved to Santa Barbara,
                                    California. In 1969, she moved to the San Francisco Bay Area, eventually moving to San
                                    Francisco itself. She spent time studying at Stanford University but dropped out in the
                                    mid-1960s. She then worked in some low-paying jobs, including work at a post office.
                                </p>

                                <p>
                                    In 1973, she met up with Howard Kerr, an old friend of hers from secondary school; they were married that same year. In 1979,
                                    a friend gave Katharine her first fantasy-role playing game. This gift led her to a fascination
                                    with the gaming and fantasy field, which in turn led her to write articles for gaming
                                    magazines. She spent time as a contributing editor to Dragon magazine and contributed
                                    to gaming modules for both TSR, Inc. and Chaosium. She co-authored the adventure Legacy
                                    of Blood for Dungeons & Dragons, as well as adventures for the Pendragon role-playing
                                    game.
                                </p>

                                <p>
                                    Katharine Kerr now dedicates herself exclusively to fiction.
                                </p>

                            </div>
                        </div>
                    </div>
                    <!-- right column -->
                    <div class="col-12 col-md-4 characters">
                        <h2 class="display-6 mb-3">Key characters</h2>
                        <div class="container shadow">
                            <!-- Characters -->
                            <div class="card mb-3 charCard border-dark">
                                <img class="card-img-top" src="img/Characters/rhodry_maelwaed.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Rhodry Maelwaedd</h5>
                                    <p class="card-text">Rhodry is a key character in the Deverry storyline. He is a highborn noble, but through
                                        fate has become a Silverdagger.</p>
                                </div>
                                <div class="card-body">
                                    <a href="http://deverry.wikia.com/wiki/Rhodry" class="card-link">Full character information</a>
                                </div>
                            </div>
                            <div class="card mb-3 charCard border-dark">
                                <img class="card-img-top" src="img/Characters/gilyan.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Gilyan</h5>
                                    <p class="card-text">Gilyan is a strong sorcerer who is closely tied to Rhodry in many ways.</p>
                                </div>
                                <div class="card-body">
                                    <a href="http://deverry.wikia.com/wiki/Rhodry" class="card-link">Full character information</a>
                                </div>
                            </div>
                            <div class="card mb-3 charCard border-dark">
                                <img class="card-img-top" src="img/Characters/nevyn.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Nevyn</h5>
                                    <p class="card-text">One of the most powerful sorcerers that has ever existed. Also called the "Master of
                                        the Ether".
                                    </p>
                                </div>
                                <div class="card-body">
                                    <a href="http://deverry.wikia.com/wiki/Rhodry" class="card-link">Full character information</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include ../templates/footer.ejs %>

</body>

</html>