<!doctype html>
<html lang="en">

<head>
  <title>Reincarnation table</title>
  <% include ../templates/head %>
</head>

<body>
  <!-- Navbar -->
  <% include ../templates/header %>

    <div class="container main pt-4 reinc-table">
      <div class="table-responsive">
        <table class="table table-hover table-sm table-warning table-bordered">
          <thead>
            <tr>
              <th scope="col">
                643
              </th>
              <th scope="col">
                696
              </th>
              <th scope="col">
                718
              </th>
              <th scope="col">
                773
              </th>
              <th scope="col">
                835-843
              </th>
              <th scope="col">
                918
              </th>
              <th scope="col">
                980
              </th>
              <th scope="col">
                1060s
              </th>
              <th scope="col">
                1100s
              </th>
              <th scope="col">
                1150s
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Brangwen</td>
              <td>Lyssa</td>
              <td></td>
              <td>Gweniver</td>
              <td>Branoic</td>
              <td></td>
              <td></td>
              <td>Jill</td>
              <td></td>
              <td>Branna</td>
            </tr>
            <tr>
              <td valign="CENTER">Madoc</td>
              <td></td>
              <td valign="CENTER">Addryc</td>
              <td valign="CENTER">Glyn</td>
              <td valign="CENTER">Caradoc</td>
              <td></td>
              <td></td>
              <td>Blaen of Cwm Pecyl</td>
              <td>Drwmyc</td>
              <td>Voran</td>
            </tr>
            <tr>
              <td>Blaen</td>
              <td>Gweran</td>
              <td></td>
              <td>Ricyn</td>
              <td>Maddyn</td>
              <td>Maer</td>
              <td>Meddry</td>
              <td>Rhodry</td>
              <td>Rhodry</td>
              <td>Rori</td>
            </tr>
            <tr>
              <td>Garraent</td>
              <td>Tanyc</td>
              <td>Cinvan</td>
              <td>Dannyn</td>
              <td>Owaen</td>
              <td>Danry</td>
              <td></td>
              <td>Cullyn</td>
              <td></td>
              <td>Gerran</td>
            </tr>
            <tr>
              <td>Rodda</td>
              <td>Cabrylla</td>
              <td></td>
              <td>Dolyan</td>
              <td></td>
              <td></td>
              <td></td>
              <td>Lovyan</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Ysolla</td>
              <td>Cadda</td>
              <td></td>
              <td>Macla</td>
              <td>Clwna</td>
              <td>Braedda</td>
              <td></td>
              <td>Seryan</td>
              <td></td>
              <td>Solla</td>
            </tr>
            <tr>
              <td>Galrion</td>
              <td>Nevyn</td>
              <td>Nevyn</td>
              <td>Nevyn</td>
              <td>Nevyn</td>
              <td>Nevyn</td>
              <td>Nevyn</td>
              <td>Nevyn</td>
              <td></td>
              <td>Neb</td>
            </tr>
            <tr>
              <td>Rhegor</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Caer</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Ylaena</td>
              <td></td>
              <td></td>
              <td></td>
              <td>Bellyra</td>
              <td>Glaenara</td>
              <td></td>
              <td></td>
              <td>Carramaena</td>
              <td>Carramaena</td>
            </tr>
            <tr>
              <td>Adoryc</td>
              <td></td>
              <td></td>
              <td></td>
              <td>Burcan</td>
              <td></td>
              <td></td>
              <td>Sarcyn</td>
              <td>Verrarc</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Dagwyn</td>
              <td>Aethan</td>
              <td>Leomyr</td>
              <td></td>
              <td>Gwin</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Saddar</td>
              <td>Oggyn</td>
              <td></td>
              <td></td>
              <td>Ogwern</td>
              <td></td>
              <td>Oth</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Anasyn</td>
              <td></td>
              <td></td>
              <td></td>
              <td>Kiel</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Lillorigga</td>
              <td></td>
              <td></td>
              <td></td>
              <td>Niffa</td>
              <td>Niffa</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Bevyan</td>
              <td></td>
              <td></td>
              <td></td>
              <td>Dera</td>
              <td>Galla</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Merodda</td>
              <td></td>
              <td></td>
              <td>Mallona</td>
              <td>Raena</td>
              <td>Sidro</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td valign="CENTER">Mael</td>
              <td></td>
              <td>Pertyc Maelwaedd</td>
              <td></td>
              <td valign="CENTER">Rhodda</td>
              <td>Lady Rhodda</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Olaen</td>
              <td></td>
              <td></td>
              <td></td>
              <td>Jahdo</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Maryn</td>
              <td></td>
              <td></td>
              <td></td>
              <td>Yraen</td>
              <td>Clae</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Elyssa</td>
              <td></td>
              <td></td>
              <td>Alaena</td>
              <td>Marka</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Rhys</td>
              <td></td>
              <td>Ridvar</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Sligyn</td>
              <td>Erddyr</td>
              <td>Cadryc</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Alastyr</td>
              <td></td>
              <td>Raven</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <% include ../templates/footer.ejs %>


</body>

</html>